.list-container {
  margin: 5px;
  display: flex;
  justify-content: space-between;
}

.time-text {
  font-family: Roboto;
  font-size: 20px;
  color: #64748b;
  align-self: center;
  font-weight: bold;
}
.img-container {
  display: flex;
  align-self: center;
  margin-left: 80px;
}

.domine-container {
  display: flex;
  align-self: center;
}

.domine-name {
  color: #6697ff;
  align-self: center;
  margin-left: 10px;
}

.img-logo {
  height: 30px;
  margin-right: 20px;
  align-self: center;
}

.logo-img-container {
  display: flex;
  align-self: center;
}

.button {
  border-width: 0px;
  background-color: #ffffff;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .domine-container {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-left: 0px;
  }

  .img-container {
    flex-direction: row;
    align-self: flex-start;
    margin-left: 0px;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
  }
  .logo-img-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
  }
  .list-container {
    width: 100%;
    margin-bottom: 30px;
  }

  .time-text {
    align-self: flex-start;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .domine-name {
    margin: 0px;
  }
  .button {
    align-self: center;
  }
}
